html{
    background-color: black;
}
p{
    color: white;
    text-align: center;
}
h1{
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Caveat', cursive;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
}
img{
    border: 5px solid white;
}